.home {
    box-sizing: border-box;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: center;
    min-height: 100vh;
}
.container-home {
    box-sizing: border-box;
    color: #fff;
    flex-direction: column;
    max-width: 70%;
    padding: 1rem;
    
}
.container-home h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: #2596be;
}
.container-home h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.container-home p {
    line-height: 2rem;
    margin: 5px 0 5px 0;
    font-size: 1.2rem;
}

.container-home span {
    color: #2596be;
    font-style: italic;

}
.sociais {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sociais a {
    text-decoration: none;
    margin: 2rem 2rem;
}
.sociais img {
    max-width: 8rem;
}
@media screen and (max-width: 600px) {
    .home{
        padding: 0;
        margin: 0;
        width: 90%;
        flex-direction: column;
    }
    .container-home{
        padding: 0;
        margin: 0;
    }

    .container-home h2 {
        margin-top: 2rem;
        font-size: 1.8rem;
        text-align: left;       
        
    }
    .container-home h3 {
        font-size: 1.2rem;
        text-align: left;
        
    }
    .container-home p {
        font-size: 1.2rem;
        text-align: left; 
    }
    .sociais {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        
    }
    .sociais a {
      
        margin: 0 auto;
        text-align: center;
    }
    .sociais img {
        margin: 0 auto;
        margin-right: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        

    }
}


