.portfolio {
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.portfolio h2 {
    margin: 2rem auto;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.container-portfolio {
    margin: 5rem auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    z-index: 1;
    color: #fff;
    padding: 1rem;
}
.container-portfolio .card {
    position: relative;
    width: 230px;
    height: 350px;
    margin: 1rem;
    border-radius: 15px;
    background: rgba(248, 237, 237, 0.986);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-portfolio .card .content {
    padding: 2rem;
    text-align: center;
    opacity: 10;
    transition: 0.5s;
   
}
.container-portfolio #barbershop {
    background-image: url('../img/barbershop.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
    
}
.container-portfolio #todolist {
    background-image: url('../img/todoList.png');
    background-position: bottom;
    position: relative;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
    
}
.container-portfolio #marcador {
    
    background-image: url('../img/marcador-de-pontos.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
}
.container-portfolio #acervo {
    background-image: url('../img/acervo.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
}
.container-portfolio #contatos {
    background-image: url('../img/contatos.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
}
.container-portfolio #movies {
    background-image: url('../img/movies.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 15rem 7rem;
    border-radius: 15px;
}

.container-portfolio .card:hover .content {
    opacity: 10;
}

.container-portfolio .card .content h3 {
    margin-bottom: 1rem;
    font-size: 1.5em;
    color: #000;
    
}
.container-portfolio .card .content p {
    margin-bottom: 3.5rem;
    font-size: 0.8em;
    color: #000;
    font-weight: 300;
    
    
} 
.container-portfolio .card .content a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
} 
