#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #0d1117;
        
}
#navbar h2 button {
    display: none;
}
#navbar h2 a:hover {
    color: #2596be;
}
#navbar div {
    display: flex;
    gap: 0.5rem;
    
}
#navbar div button {
    background-color: #0d1117;
    border: none;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: 1s;
    width: 7rem;
    font-size: 1rem;
}
#navbar div button:hover {
    color: #2596be;
}
@media screen and (max-width: 600px) {
    .nav {
      display: none;
    }
    .nav h2 {
        display: none;
    }
}