* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  color: #FFF;
  width: 100%;    
  text-align: right;
  margin-left: -3rem;
  z-index: 999;
  line-height: 100px;
}
@media screen and (max-width: 600px) {

*{
  margin: 0;
  padding: 0;
}
.App{
  margin: 0;
  padding: 0;
  width: 100%;
}

}


